.divClass h1 {
    color: red
}

#thirdDiv img {
    width: 400px;
}

#thirdDiv {
    width: 600px;
    height: 500px;
    background-color: skyblue;
    padding: 50px;
    border: 2px solid blue;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}